body{
    background-color: black;
}
.login_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width:50%;
    margin: auto;
}

.login_logo{
    background-image: url('/images/default_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}
.forget{
    text-decoration: underline;
    margin-right: 10px;
}



