.edit_title{
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 22px;
        padding: 10px 0 10px 30px;
        border-radius: 10px;
    }

.usdPrice{
    font-size: 90%;
    color: gray;
    text-align:right;
    
}

.el-message-box__title{
    text-align: center;
    padding: 0 30px;
}